@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: 'Mukta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(100% 316.05% at 0% 100%, #ef84f520 0%, rgba(239, 132, 245, 0) 100%),
    radial-gradient(100% 174.51% at 100% 0%, #2ee09a20 0%, rgba(46, 224, 154, 0) 100%);
  background-color: #010514;
  letter-spacing: -0.03em;
  min-height: 100vh;
}
